.contenedorItemDetail {
  display: flex;
  justify-items: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 80%;
  height: auto;

  &__Img {
    width: 25%;
    height: auto;
    padding: 0.5rem;
  }

  &__Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-Titulo {
      font-size: 3rem;
      margin-top: 1rem;
    }

    &-Precio {
      font-size: 2rem;
    }

    &-Texto {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-right: 2rem;
    }
  }
}

.btn {
  border-radius: 1rem;
  border-style: none;
  background-color: #c9c0cf;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 12rem;
  height: auto;
}

.btn:hover {
  background-color: #ba99cf;
  color: var(--color-violeta);
}
