.contenedorItemDetail {
  display: flex;
  justify-items: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 90%;
  height: auto;

  &__Img {
    width: 25%;
    height: auto;
    padding: 0.5rem;
  }

  &__Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-Titulo {
      font-size: 3rem;
      margin-top: 1rem;
    }

    &-Precio {
      font-size: 2rem;
    }

    &-Texto {
      padding-right: 1rem;
    }
  }
}
