* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //   outline: 1px solid red;
  font-family: var(--font-rosario);
}

html {
  height: 100%;
}

body {
  background: rgb(5, 5, 5);
  background: linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(17, 5, 25, 1) 39%,
    rgba(29, 4, 44, 1) 64%,
    rgba(56, 2, 89, 1) 100%
  );
}

ul,
ol {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.inactive {
  color: #fff;
  text-decoration: none;
}
