.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-violeta);
  box-shadow: 0px -3px 18px 8px #000000;

  &__titulo {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
  }

  &__nav--ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-weight: 600;
  }

  &__nav--ul li {
    text-decoration: none;
    cursor: pointer;
  }

  &__nav--ul li:hover {
    scale: 1.03;
    transition: 0.1s;
  }
}
