

.titulo-logo{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: aquamarine;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
    width: 15vw;
    background-color: aquamarine;
    margin: 0;
    padding: 0;


}

li{
    display: inline-flex;
    cursor: pointer;


}