.Contador {
  display: flex;
  gap: 0.5rem;

  &__num {
    color: var(--color-negro);
  }

  &__btn {
    border-radius: 1rem;
    border-style: none;
    background-color: #c9c0cf;
    cursor: pointer;
    color: #fff;
    width: 2rem;
    height: auto;

    &--agregar {
      border-radius: 1rem;
      border-style: none;
      background-color: #c9c0cf;
      cursor: pointer;
      color: #fff;
      width: 3.5rem;
      height: auto;
    }

    &--agregar:hover {
      background-color: #ba99cf;
      color: var(--color-violeta);
    }
  }
  &__btn:hover {
    background-color: #ba99cf;
    color: var(--color-violeta);
  }
}
